:root.dark {
	--document-background-color: #{$body-color};
	--document-color: #{$primary-font-color};
	--highlight-post-background-color: rgb(42 63 32 / 1.0);
	--highlight-post-border-color: rgb(80 108 0 / 1.0);
	--jq-widget-header-bg: url("https://download.jqueryui.com/themeroller/images/ui-bg_highlight-soft_75_131313_1x100.png");
	--jq-widget-button-disabled-hovered-or-active-bg: #{asset("/jquery-ui/ui-bg-glass-variant-01.{{png|avif}}")};
	--jq-widget-hover-or-focus: #{asset("/jquery-ui/ui-bg-glass-variant-02.{{png|avif}}")};
	--jq-widget-active: #{asset("/jquery-ui/ui-bg-glass-variant-02.{{png|avif}}")};
	--jq-widget-highlighted: url("https://download.jqueryui.com/themeroller/images/ui-bg_glass_55_fbf9ee_1x400.png");
	--jq-widget-errored: url("https://download.jqueryui.com/themeroller/images/ui-bg_glass_95_fef1ec_1x400.png");
	--jq-ui-icon-primary: url("https://download.jqueryui.com/themeroller/images/ui-icons_cccccc_256x240.png");	
	--jq-ui-icon-accent: url("https://download.jqueryui.com/themeroller/images/ui-icons_101010_256x240.png");
	--jq-ui-icon-action: url("https://download.jqueryui.com/themeroller/images/ui-icons_ffffff_256x240.png");;
	--jq-ui-icon-highlight: url("https://code.jquery.com/ui/1.11.4/themes/smoothness/images/ui-icons_2e83ff_256x240.png");
	--jq-ui-icon-error: url("https://code.jquery.com/ui/1.11.4/themes/smoothness/images/ui-icons_cd0a0a_256x240.png");
	--jq-bgColorHeader: rgb(33 33 33);
	--jq-borderColorHeader: rgb(84 84 84);
	--jq-fcHeader: rgb(220 220 220);
	--jq-iconColorHeader: rgb(34 34 34);
	--jq-bgColorContent: rgb(33 33 33);
	--jq-borderColorContent: rgb(73 73 73);
	--jq-fcContent: rgb(255 255 255);
	--jq-iconColorContent: rgb(34 34 34);
	--jq-bgColorDefault: rgb(20 20 20);
	--jq-borderColorDefault: rgb(50 50 50);
	--jq-fcDefault: rgb(220 220 220);
	--jq-iconColorDefault: rgb(136 136 136);
	--jq-bgColorHover: rgb(29 29 29);
	--jq-borderColorHover: rgb(71 71 71);
	--jq-fcHover: rgb(255 255 255);
	--jq-iconColorHover: rgb(69 69 69);
	--jq-bgColorActive: rgb(255 255 255);
	--jq-borderColorActive: rgb(71 71 71);
	--jq-fcActive: rgb(255 255 255);
	--jq-iconColorActive: rgb(69 69 69);
	--jq-bgColorHighlight: rgb(251 249 238);
	--jq-fcHighlight: rgb(54 54 54);
	--jq-iconColorHighlight: rgb(46 131 255);
	--jq-bgColorError: rgb(254 241 236);
	--jq-borderColorError: rgb(205 10 10);
	--jq-fcError: rgb(205 10 10);
	--jq-iconColorError: rgb(205 10 10);
	--jq-bgColorOverlay: rgb(170 170 170);
	--jq-bgColorShadow: rgb(170 170 170);
}

#gameTab img.deselected {
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);
    padding: 60px 0px 0px 368px;
}
#shopTab img.deselected, 
#newsTab img.deselected, 
#forumTab img.deselected {
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);
    padding: 60px 0px 0px 128px;
}
#gameTab img {
  width: 0px !important;
  height: 0px !important;
  padding: 60px 0px 0px 380px;
  margin: 0 -3px;
}
#shopTab img,
#newsTab img,
#forumTab img {
  width: 0px !important;
  height: 0px !important;
  padding: 60px 0px 0px 128px;
}
#shopTab img.selected,
#newsTab img.selected,
#forumTab img.selected {
    padding: 60px 0px 0px 140px;
    width: 0px !important;
    height: 0px !important;
    margin: 0px -3px;
}
:root.dark #header {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/background@2x.png") 2x);
}
:root.dark #gameTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab1Selected@2x.png") 2x);
}
:root.dark #gameTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab1@2x.png") 2x);
}
:root.dark #shopTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab2Selected@2x.png") 2x);
}
:root.dark #shopTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab2@2x.png") 2x);
}
:root.dark #newsTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab3Selected@2x.png") 2x);
}
:root.dark #newsTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab3@2x.png") 2x);
}
:root.dark #forumTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab4Selected@2x.png") 2x);
}
:root.dark #forumTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/header/tab4@2x.png") 2x);
}
:root.dark body {
    background: rgb(26, 26, 26)
}
:root.dark .snippet {
    color: #fff;
    background: linear-gradient(rgb(41, 41, 41), rgb(32, 32, 32));
}
.exp.tooltipstered {
    position: relative;
    top: -1px;
    height: 30px;
}
#tankinfo .rank, #tankinfo .xp {
    position: relative;
    height: 30px;
}
.exp-bar {
    background-image: image-set(url(https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/tankInfo/expBar.png) 1x, url(https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/tankInfo/expBar@2x.png) 2x);
    background-size: 10px 22px;
    height: 100%;
}
.about-container {
    position: relative;
    z-index: 2;
    font-size: 12px;
}
.bannedText-container {
    position: relative;
    z-index: 2;
    font-size: 12px;
    margin: 20px 0 20px 0;
}
.exp-text {
  position: absolute;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  stroke-linejoin: round;
  pointer-events: none;
}
#tankinfo .username {
    z-index: 2;
}
.adminBadge {
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -22px;
}
.banned-Icon {
    z-index: 1;
    position: absolute;
    top: -140px;
    left: 10px;
}
tr.tooltipstered {
    display: none !important;
}
.statsContainer img.statsIcon {
    position: absolute;
}
.statsContainer svg {
    left: 45px;
}
.deaths.tooltipstered {
    left: 55px;
}
#tankinfo table td:first-child .statsIcon {
    left: 3px;
}
#tankinfo table td:first-child svg {
    left: 44px;
}
#tankinfo table td:last-child .statsIcon {
    right: 5px;
}
#tankinfo table td:last-child svg {
    left: 5px;
}
#modActivitySnippet {
  height: 225px !important;
}
#mod-activity {
    padding: 5px;
    background: rgb(200, 200, 200);
    border-radius: 5px;
    border-top: 2px solid rgba(113, 113, 113, 0.17);
    margin: 5px;
}
:root.dark #mod-activity {
    background: #1a1a1abb;
}
.mod-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}
.mod-username {
  font-size: 10px;
}
.mod-last-login {
  font-size: 9px;
}
#refresh-timer {
  position: absolute;
  bottom: auto;
  left: 10px
}
#overlay .messageSpacingBottom {
    display: none !important;
}
#serverSnippet #data {
  padding: 5px;
}
#playersOnline {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 3px;
}
#gamesMade {
  margin-bottom: 3px;
}
@keyframes moveLeft {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(-60%) scale(0);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(-60%) scale(0);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
#game {
    top: 0;
}
#secondaryContent, #tertiaryContent {
    margin-top: 7px;
}
a {
    margin-top: 7px;
}
#tankinfo .content {
    background: #eee;
}
:root.dark #tankinfo .content {
    background: #292929;
}
.box .tab.topRight {
    background: #eee !important;
}
.box .tab.bottom {
    background: #eee !important;
}
.box .tab.left {
    background: #eee !important;
}
.box .tab.right {
    background: #eee !important;
}
:root.dark .box .tab.topRight {
    background: #292929 !important;
}
:root.dark .box .tab.bottom {
    background: #292929 !important;
}
:root.dark .box .tab.left {
    background: #292929 !important;
}
:root.dark .box .tab.right {
    background: #292929 !important;
}
.box.noselect .content {
    background: #eee;
}
:root.dark .box.noselect .content {
    background: #292929 !important;
}
#tankinfo table {
    background: #ddd;
    border-radius: 10px;
    border-top: 2px solid #7171712b;
    margin: 8px 0 0 0;
}
:root.dark #tankinfo table {
    background: #222;
    border-radius: 10px;
    border-top: 2px solid #10101050;
}
#tankinfo .progress {
    background: #ddd;
}
:root.dark #tankinfo .progress {
    background: #222;
}
#tankinfo .progress .border {
    border-color: #7171712b;
}
:root.dark #tankinfo .progress .border {
    border-color: #10101050;
}
#tankinfo tr {
    background: #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
:root.dark #tankinfo tr {
    background: #222;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#tankinfo .actions:not(.centered) {
    text-align: center;
    margin: 8px 0 0 0;
}
.actions.centered {
    margin: 8px 0 0 0;
}
#tankinfo .icon {
    top: -154px;
}
#chat form {
    border-radius: 5px;
    background: rgb(255 255 255 / 80%);
    padding: 1px;
}
#chat form .autocomplete-dropdown{
    margin-left: 255px !important;
    margin-top: -1px !important;
}
:root.dark #chat form {
    color: #fff;
    background: rgb(55 55 55 / 80%);
}
#chat.global form {
    background: #68c5ff;
    border: 1px solid #759fff;
}
#chat.user form {
    background: #08ef0a;
    border: 1px solid #01c701;
}
#chat:not(.open) form{
    z-index: -1;
    position: relative;
	  animation: moveLeft 0.1s cubic-bezier(0.79, -0.02, 0.32, 0.98) forwards;
}
#chat:is(.opening, .open) form {
    z-index: -1;
    position: relative;
    padding-right: 0;
    animation: moveRight 0.3s cubic-bezier(0.79, -0.02, 0.32, 0.98) forwards;
}
#chat:is(.opening, .open) .content, #chat:is(.opening, .open) textarea {
    width: 230px !important;
}
#chat {
    -webkit-filter: drop-shadow(0 7px 4px rgba(0, 0, 0, .5));
    filter: drop-shadow(0 7px 4px rgba(0, 0, 0, .5));
}
#chat .handle {
    width: 10px;
    height: 10px;
}
.newsPost {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .5));
}
.forum .bubble {
    background: #eee !important;
    border: #ffffff00 2px solid !important;
    border-radius: 15px !important;
    transition: background .7s, border .7s !important;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .5)) !important;
}
:root.dark .forum .bubble {
    color: #fff !important;
    background: #292929 !important;
    border: #ffffff00 2px solid !important;
}
.forum .thread.selectable:not(.editing) .bubble:hover {
    background: #e2e2e2 !important
}
:root.dark .forum .thread.selectable:not(.editing) .bubble:hover {
    background: #222 !important
}
.forum .editing .bubble {
    background-color: #cad1fd !important;
}
:root.dark .forum .editing .bubble {
    background-color: #575c74 !important;
}
:root.dark .forum .editing .bubble .edit .header, :root.dark .forum .compose textarea, :root.dark .forum .editing textarea {
    color: #fff !important;
}
.forum .bubble .pointer {
    background: inherit;
    position: absolute;
    top: 8px;
    width: 22px;
    height: 15px;
}
#overlay {
    background-color: rgb(0 0 0 / 90%);
}
#overlay>button {
    font-size: 30px;
}
button.warning {
    background: red;
    border-radius: 3px;
}
#overlay .messages .message {
    background: #24cb19 !important;
    border-radius: 3px;
    color: #fff !important;
}
#overlay .messages .message .headers {
    border-bottom: 1px solid #fff !important;
}
:root.dark #overlay .messages .message {
    background: #24cb19 !important;
}
#overlay .messages .message.important {
    background: red !important;
}
:root.dark #overlay .messages .message.important {
    background: red !important;
}
#overlay .messages .message .headers {
    border-bottom: 1px solid #fff;
}
#overlay input[type="text"], #overlay input[type="password"], #overlay textarea {
    background-color: #334655c7;
    border: 2px solid #315d83b5;
    border-radius: 3px;
}
#overlay .newGame .premium {
    color: #000;
    display: inline-block;
    background: linear-gradient(to bottom,#eee,#ccc);
    border-radius: 7px;
    border: none;
    position: relative;
    padding: 40px 40px 30px;
    margin: 80px 20px 20px;
}
:root.dark #overlay .newGame .premium {
    color: #fff;
    background: linear-gradient(to bottom,#292929,#242424) !important;
}
#overlay input[type="checkbox"]+label::before {
    border: 2px solid red;
    transition: border .7s;
    border-radius: 7px;
    color: #fff;
}
#overlay .shopItem {
    background: repeating-radial-gradient(#ccc, #55555599 100px);
    border: #55555599 dotted;
}
:root.dark #overlay .shopItem {
    background: repeating-radial-gradient(#292929, #00000099 100px) !important;
    border: #00000099 dotted;
}
#shopItem-122 {
    background: repeating-radial-gradient(#1c8a3c, #2cdc60, #1c8a3c99 100px) !important;
    border: none !important;
}
:root.dark #shopItem-122 {
    background: repeating-radial-gradient(#1c8a3c, #2cdc60, #1c8a3c99 100px) !important;
    border: none !important;
}
#shopItem-120 {
    background: linear-gradient(to bottom, #fcdc88, #f8c23a) !important;
    border: none !important;
}
:root.dark #shopItem-120 {
    background: linear-gradient(to bottom, #fcdc88, #f8c23a) !important;
    border: none !important;
}
#virtualShopItem-500 {
    background: repeating-linear-gradient(55deg, #101010, #333 100px) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-500 {
    background: repeating-linear-gradient(55deg, #101010, #333 100px) !important;
    border: none !important;
}
#virtualShopItem-520 {
    background: repeating-linear-gradient(45deg, #ff00d4, #256cff, #00ffff, #02ff00, #e7ff00, #ffb300, red, #ff00d4 270px) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-520 {
    background: repeating-linear-gradient(45deg, #ff00d4, #256cff, #00ffff, #02ff00, #e7ff00, #ffb300, red, #ff00d4 270px) !important;
    border: none !important;
}
#virtualShopItem-512 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-512 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
#virtualShopItem-509 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-509 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
.shopItem .soldOut text {
    font-size: 30pt;
    stroke-width: 0px;
    transform: translate(70px, 150px) rotate(0deg);
}
:root.dark #adduser .content, :root.dark #goldShopItemsContainer .shopItem, :root.dark #settings .content, :root.dark #shopItemsContainer .shopItem, :root.dark #tankinfo .content, :root.dark #switchcontrols .content {
    color: #fff;
    background: #292929;
}
#forumSearchBar {
    width: 60%;
    position: relative;
    left: 32%;
}
#forumSearchInput {
    width: 60%;
    position: relative;
    background: #eee;
    border: #d5d5d5 2px solid;
    border-radius: 5px;
}
#forumSearchSuggestions {
    position:absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    display:none;
    z-index: 999;
    max-height: 250px;
    overflow-y:auto;
    width: 61%;
}
:root.dark #forumSearchInput {
    color: #fff !important;
    background: #292929 !important;
    border: #2a2a2a 2px solid !important;
}
:root.dark #forumSearchSuggestions {
    color: #fff;
    background: #292929;
}
.forum .playerUsername {
    margin-top: 4px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #000;
    paint-order: stroke fill;
}
.leaderboard-snippet-list {
    list-style: none;
    padding: 7px;
    background: rgb(200, 200, 200);
    border-radius: 5px;
    border-top: 2px solid rgba(113, 113, 113, 0.17);
    margin: 2px;
}
:root.dark .leaderboard-snippet-list {
    background: #1a1a1abb;
}
.leaderboard-snippet-list li {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.leaderboard-snippet-list .username {
    flex: auto;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leaderboard-snippet-list .stat {
    font-size: 10px;
    width: 50%;
    font-weight: bold;
    text-align: right;
}
select#snippetStat {
    width: 80%;
    margin-bottom: 5px;
    border-radius: 3px;
}
:root.dark select#snippetStat {
    color: #fff;
    background: #292929;
    border: #2a2a2a 2px solid;
}
.darkmode {
    position: absolute;
    right: 108px;
    top: 0;
    cursor: pointer;
}