img.disabled {
    cursor: pointer;
}
:root.dark body {
    background: rgb(26, 26, 26)
}
:root.dark .snippet {
    color: #fff;
    background: linear-gradient(rgb(41, 41, 41), rgb(32, 32, 32));
}
.exp.tooltipstered {
    position: relative;
    top: -1px;
    height: 30px;
}
#tankinfo .rank, #tankinfo .xp {
    position: relative;
    height: 30px;
}
.exp-bar {
    background-image: image-set(url(https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/tankInfo/expBar.png) 1x, url(https://raw.githubusercontent.com/kamarov-therussiantank/TankTrouble-Tools/refs/heads/main/uiadditions%26improvements/src/images/assets/tankInfo/expBar@2x.png) 2x);
    background-size: 10px 22px;
    height: 100%;
}
.about-container {
    position: relative;
    z-index: 2;
    font-size: 12px;
}
.bannedText-container {
    position: relative;
    z-index: 2;
    font-size: 12px;
    margin: 20px 0 20px 0;
}
.exp-text {
  position: absolute;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  stroke-linejoin: round;
  pointer-events: none;
}
#tankinfo .username {
    z-index: 2;
}
.adminBadge {
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -22px;
}
.banned-Icon {
    z-index: 1;
    position: absolute;
    top: -140px;
    left: 10px;
}
tr.tooltipstered {
    display: none !important;
}
.statsContainer img.statsIcon {
    position: absolute;
}
.statsContainer svg {
    left: 45px;
}
.deaths.tooltipstered {
    left: 55px;
}
#tankinfo table td:first-child .statsIcon {
    left: 3px;
}
#tankinfo table td:first-child svg {
    left: 44px;
}
#tankinfo table td:last-child .statsIcon {
    right: 5px;
}
#tankinfo table td:last-child svg {
    left: 5px;
}
#modActivitySnippet {
  height: max-content;
}
#mod-activity {
    padding: 5px;
    background: rgb(200, 200, 200);
    border-radius: 5px;
    border-top: 2px solid rgba(113, 113, 113, 0.17);
    margin: 5px;
}
:root.dark #mod-activity {
    background: #1a1a1abb;
}
.mod-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
.mod-username {
  font-family: 'TankTrouble';
  font-size: 12px;
}
.mod-last-login {
  font-size: 10px;
}
#overlay .messageSpacingBottom {
    display: none !important;
}
#serverSnippet #data {
  padding: 5px;
}
#playersOnline {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 3px;
}
#gamesMade {
  margin-bottom: 3px;
}
@keyframes moveLeft {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(-60%) scale(0);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(-60%) scale(0);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
#game {
    top: 0;
}
#secondaryContent, #tertiaryContent {
    margin-top: 7px;
}
a {
    margin-top: 7px;
}
#tankinfo .content {
    background: #eee;
}
:root.dark #tankinfo .content {
    background: #292929;
}
.box .tab.topRight {
    background: #eee !important;
}
.box .tab.bottom {
    background: #eee !important;
}
.box .tab.left {
    background: #eee !important;
}
.box .tab.right {
    background: #eee !important;
}
:root.dark .box .tab.topRight {
    background: #292929 !important;
}
:root.dark .box .tab.bottom {
    background: #292929 !important;
}
:root.dark .box .tab.left {
    background: #292929 !important;
}
:root.dark .box .tab.right {
    background: #292929 !important;
}
.box.noselect .content {
    background: #eee;
}
:root.dark .box.noselect .content {
    background: #292929 !important;
}
#tankinfo table {
    background: #ddd;
    border-radius: 10px;
    border-top: 2px solid #7171712b;
    margin: 8px 0 0 0;
}
:root.dark #tankinfo table {
    background: #222;
    border-radius: 10px;
    border-top: 2px solid #10101050;
}
#tankinfo .progress {
    background: #ddd;
}
:root.dark #tankinfo .progress {
    background: #222;
}
#tankinfo .progress .border {
    border-color: #7171712b;
}
:root.dark #tankinfo .progress .border {
    border-color: #10101050;
}
#tankinfo tr {
    background: #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
:root.dark #tankinfo tr {
    background: #222;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#tankinfo .actions:not(.centered) {
    text-align: center;
    margin: 8px 0 0 0;
}
.actions.centered {
    margin: 8px 0 0 0;
}
#tankinfo .icon {
    top: -154px;
}
#chat form {
    border-radius: 5px;
    background: rgb(255 255 255 / 80%);
    padding: 1px;
}
#chat form .autocomplete-dropdown{
    margin-left: 255px !important;
    margin-top: -1px !important;
}
:root.dark #chat form {
    color: #fff;
    background: rgb(55 55 55 / 80%);
}
#chat.global form {
    background: #68c5ff;
    border: 1px solid #759fff;
}
#chat.user form {
    background: #08ef0a;
    border: 1px solid #01c701;
}
#chat:not(.open) form{
    z-index: -1;
    position: relative;
	  animation: moveLeft 0.1s cubic-bezier(0.79, -0.02, 0.32, 0.98) forwards;
}
#chat:is(.opening, .open) form {
    z-index: -1;
    position: relative;
    padding-right: 0;
    animation: moveRight 0.3s cubic-bezier(0.79, -0.02, 0.32, 0.98) forwards;
}
#chat:is(.opening, .open) .content, #chat:is(.opening, .open) textarea {
    width: 230px !important;
}
#chat {
    -webkit-filter: drop-shadow(0 7px 4px rgba(0, 0, 0, .5));
    filter: drop-shadow(0 7px 4px rgba(0, 0, 0, .5));
}
#chat .handle {
    width: 10px;
    height: 10px;
}
.newsPost {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .5));
}
.forum .bubble {
    background: #eee !important;
    border: #ffffff00 2px solid !important;
    border-radius: 15px !important;
    transition: background .7s, border .7s !important;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .5)) !important;
}
:root.dark .forum .bubble {
    color: #fff !important;
    background: #292929 !important;
    border: #ffffff00 2px solid !important;
}
.forum .thread.selectable:not(.editing) .bubble:hover {
    background: #e2e2e2 !important
}
:root.dark .forum .thread.selectable:not(.editing) .bubble:hover {
    background: #222 !important
}
.forum .editing .bubble {
    background-color: #cad1fd !important;
}
:root.dark .forum .editing .bubble {
    background-color: #575c74 !important;
}
:root.dark .forum .editing .bubble .edit .header, :root.dark .forum .compose textarea, :root.dark .forum .editing textarea {
    color: #fff !important;
}
.forum .bubble .pointer {
    background: inherit;
    position: absolute;
    top: 8px;
    width: 22px;
    height: 15px;
}
#overlay {
    background-color: rgb(0 0 0 / 90%);
}
#overlay>button {
    font-size: 30px;
}
button.warning {
    background: red;
    border-radius: 3px;
}
#overlay .messages .message {
    background: #24cb19 !important;
    border-radius: 3px;
    color: #fff !important;
}
#overlay .messages .message .headers {
    border-bottom: 1px solid #fff !important;
}
:root.dark #overlay .messages .message {
    background: #24cb19 !important;
}
#overlay .messages .message.important {
    background: red !important;
}
:root.dark #overlay .messages .message.important {
    background: red !important;
}
#overlay .messages .message .headers {
    border-bottom: 1px solid #fff;
}
#overlay input[type="text"], #overlay input[type="password"], #overlay textarea {
    background-color: #334655c7;
    border: 2px solid #315d83b5;
    border-radius: 3px;
}
#overlay .newGame .premium {
    color: #000;
    display: inline-block;
    background: linear-gradient(to bottom,#eee,#ccc);
    border-radius: 7px;
    border: none;
    position: relative;
    padding: 40px 40px 30px;
    margin: 80px 20px 20px;
}
:root.dark #overlay .newGame .premium {
    color: #fff;
    background: linear-gradient(to bottom,#292929,#242424) !important;
}
#overlay input[type="checkbox"]+label::before {
    border: 2px solid red;
    transition: border .7s;
    border-radius: 7px;
    color: #fff;
}
#overlay .shopItem {
    background: repeating-radial-gradient(#ccc, #55555599 100px);
    border: #55555599 dotted;
}
:root.dark #overlay .shopItem {
    background: repeating-radial-gradient(#292929, #00000099 100px) !important;
    border: #00000099 dotted;
}
#shopItem-122 {
    background: repeating-radial-gradient(#1c8a3c, #2cdc60, #1c8a3c99 100px) !important;
    border: none !important;
}
:root.dark #shopItem-122 {
    background: repeating-radial-gradient(#1c8a3c, #2cdc60, #1c8a3c99 100px) !important;
    border: none !important;
}
#shopItem-120 {
    background: linear-gradient(to bottom, #fcdc88, #f8c23a) !important;
    border: none !important;
}
:root.dark #shopItem-120 {
    background: linear-gradient(to bottom, #fcdc88, #f8c23a) !important;
    border: none !important;
}
#virtualShopItem-500 {
    background: repeating-linear-gradient(55deg, #101010, #333 100px) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-500 {
    background: repeating-linear-gradient(55deg, #101010, #333 100px) !important;
    border: none !important;
}
#virtualShopItem-520 {
    background: repeating-linear-gradient(45deg, #ff00d4, #256cff, #00ffff, #02ff00, #e7ff00, #ffb300, red, #ff00d4 270px) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-520 {
    background: repeating-linear-gradient(45deg, #ff00d4, #256cff, #00ffff, #02ff00, #e7ff00, #ffb300, red, #ff00d4 270px) !important;
    border: none !important;
}
#virtualShopItem-512 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-512 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
#virtualShopItem-509 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
:root.dark #overlay #virtualShopItem-509 {
    background: linear-gradient(to bottom, #e2bf49, #664600) !important;
    border: none !important;
}
.shopItem .soldOut text {
    font-size: 30pt;
    stroke-width: 0px;
    transform: translate(70px, 150px) rotate(0deg);
}
:root.dark #adduser .content, :root.dark #goldShopItemsContainer .shopItem, :root.dark #settings .content, :root.dark #shopItemsContainer .shopItem, :root.dark #tankinfo .content, :root.dark #switchcontrols .content {
    color: #fff;
    background: #292929;
}
#forumSearchBar {
    width: 60%;
    position: relative;
    left: 32%;
}
#forumSearchInput {
    width: 60%;
    position: relative;
    background: #eee;
    border: #d5d5d5 2px solid;
    border-radius: 5px;
}
#forumSearchSuggestions {
    position:absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    display:none;
    z-index: 999;
    max-height: 250px;
    overflow-y:auto;
    width: 61%;
}
:root.dark #forumSearchInput {
    color: #fff !important;
    background: #292929 !important;
    border: #2a2a2a 2px solid !important;
}
:root.dark #forumSearchSuggestions {
    color: #fff;
    background: #292929;
}
.forum .playerUsername {
    margin-top: 4px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #000;
    paint-order: stroke fill;
}
.leaderboard-snippet-list {
    list-style: none;
    padding: 7px;
    background: rgb(200, 200, 200);
    border-radius: 5px;
    border-top: 2px solid rgba(113, 113, 113, 0.17);
    margin: 2px;
}
:root.dark .leaderboard-snippet-list {
    background: #1a1a1abb;
}
.leaderboard-snippet-list li {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.leaderboard-snippet-list .username {
    font-family: 'TankTrouble';
    flex: auto;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leaderboard-snippet-list .stat {
    font-size: 10px;
    width: 50%;
    font-weight: bold;
    text-align: right;
}
select#snippetStat {
    width: 80%;
    margin-bottom: 5px;
    border-radius: 3px;
}
:root.dark select#snippetStat {
    color: #fff;
    background: #292929;
    border: #2a2a2a 2px solid;
}
#wardrobe {
    position: relative;
    display: grid;
    border: 3px solid #00000050 !important;
    background: #00000050;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -50%;
    gap: 10px;
    overflow-y: auto;
    width: 175%;
    left: -40%;
    max-height: 200px;
    padding: 10px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    border-radius: 5px;
}
#wardrobe::-webkit-scrollbar-track {
    background: transparent !important;
}
.wardrobe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin: auto;
}
#wardrobe-buttons {
    width: max-content;
}
#delete-btn {
    background: red !important;
    color: white !important;
}
#no-saved-tanks {
    position: relative;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#favourites-box {
    border: 2px #d3d3d3 solid;
    border-radius: 6px;
}
:root.dark #favourites-box {
    border: 2px #3a3a3a solid !important;
}
#favourites-box .content {
    overflow-y: auto;
    width: max-content;
    max-height: 250px;
    border: none !important;
    border-radius: 2px;
}
#search-container {
    background: rgb(238, 238, 238);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
:root.dark #search-container {
    background: rgb(41, 41, 41);
}
#favourites-box .content::-webkit-scrollbar-track {
    background: transparent !important;
}
.player-row {
    display: flex;
    align-items: center;
    background:#cccccc75;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 4px;
}
:root.dark .player-row {
    background:#1a1a1a75 !important;
}
.player-name {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.player-id {
    position: relative;
    left: -34%;
    font-size: 12px;
    opacity: 0.8;
}
.player-login {
    position: relative;
    left: 0%;
    font-size: 12px;
    opacity: 0.8;
}
.player-tank canvas {
    display: block;
}
.player-info {
    display: flex;
    flex-direction: column;
}
.button.remove-fav {
    background:#afafaf75;
    position: relative;
    width: max-content;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px;
}
:root.dark .button.remove-fav {
    background:#11111175;
}